<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275864519009-f4cca9katfos6tbca9j32a3rrb8ibb57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275864519009-f4cca9katfos6tbca9j32a3rrb8ibb57</string>
	<key>API_KEY</key>
	<string>AIzaSyAzr0uMainzpd9leG_-rb06pJpPKMGCI78</string>
	<key>GCM_SENDER_ID</key>
	<string>275864519009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.MinZzeungE</string>
	<key>PROJECT_ID</key>
	<string>minzzeunge-240901</string>
	<key>STORAGE_BUCKET</key>
	<string>minzzeunge-240901.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275864519009:ios:3b1238a0c6bb9d46</string>
	<key>DATABASE_URL</key>
	<string>https://minzzeunge-240901.firebaseio.com</string>
</dict>
</plist>